.main-content{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 3rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
}

.content-section{
    text-align: justify;
    margin-bottom: 1.7rem;
}

.text-subtitle{
    font-weight: bold;
    margin-right: 0.5rem;
}

.content-more-info{
    display: flex;
}

.content-contact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-books-size{
    height: 7rem;
}