.main-content{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
}

.content-section{
    text-align: justify;
    margin-bottom: 1.7rem;
}